@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 50px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0px 0px 6px 0px #161616;
  max-width: 15rem;
}
.img_container {
  /* border: 1px solid red; */
  position: relative;
  width: 14rem;
  height: 14rem;
}
.img_container:hover .img2 {
  display: flex;
}
.img_container:hover .img2 img {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}
.img1 {
  position: absolute;
  /* border: 1px solid red; */
}
.img1 img {
  width: 100%;
  object-fit: cover;
  border-radius: 3%;
  height: 100%;
}
.img2 {
  /* border: 1px dotted green; */
  position: absolute;
  /* bottom:calc(50% - 1.5rem); */
  /* right: calc(50% - 1.5rem);
    height: 3rem; */
  /* width: 3rem; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0.39);
  border-radius: 3%;
  display: none;
}
.img2 img {
  /* border: 1px solid white; */
  /* display: none; */
}

/* .container img:hover::after{
position: absolute;
background-image:url('./images/icon-view.svg');
left: 50%;
} */
.container h2 {
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
  width: 100%;
  font-weight: 600;
  margin: 20px;
  cursor: pointer;
}
.container h2:hover {
  color: cyan;
}
.container p {
  color: hsl(215, 51%, 70%);
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  margin: 0px;
  font-weight: 300;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0px;
  border-bottom: 2px solid hsl(215, 32%, 27%);
  padding-bottom: 1rem;
}

.bottom .left {
  display: flex;
  align-self: center;
}
.bottom .left img {
  width: 10px;
  padding: 0px 5px;
}
.container .bottom .left p {
  font-weight: 600;
  font-size: medium;
  padding-left: 5px;
  color: cyan;
}

.bottom .right {
  display: flex;
  align-self: center;
}
.bottom .right img {
  width: 16%;
}

.bottom .right p {
  font-weight: 300;
  font-size: medium;
  padding-left: 8px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: small;
  font-weight: 300;
}
.footer img {
  width: 1.4rem;

  border: 1px solid white;
  border-radius: 50%;
}
.footer :nth-child(2) {
  align-self: center;
}
.footer p {
  font-size: medium;
  font-weight: 300;
  padding-left: 15px;
  letter-spacing: 0.5px;
}
.footer span {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.footer span:hover {
  color: cyan;
}
